body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  margin: 10px;
  padding: 14px;
  text-align: center;
  display: flex}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.home {
  display: flex;
  width: 100%;
}

.backlog {
  width: 20%;
  border-radius: 3px;
  height: 100%;
}

.schedule {
  width: 30%;
  border-radius: 3px;
  height: 100%;
}

.day {
  margin: 0px auto;
  border-radius: 3px;
}

.calendar {
  width: 50%;
  border-radius: 3px;
}

.todo {
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.week {
  display: flex;
}

.todo-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.todo-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.todo-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.todo-info > div > div {
  color: #969696;
  font-size: 15px;
}
.todo-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.todo-icons {
  display: flex;
  align-items: center;
}

.todo-icon {
  font-size: 18.72px;
  color: #697784;
  margin-left: 100%;
}
.todo-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}


.heart-button {
  background: transparent;
  border: none;
}

.new-todo {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.todo-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.left{float:left;width:100px;}
.right{float:right;width:100px;}
.center{margin:0 auto;width:100px;}